# .NET
.vscode/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
*.nupkg
*.snupkg
.nuget/
csx/
*.build.csdef
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.log
*.ldf
*.mdf
*.cab
*.msi
*.msm
*.msp
*.lnk

# Angular
node_modules/
dist/
src/environments/
.angular/
.angular-build/
.idea/
*.iml
*.sublime-project
*.sublime-workspace
*.code-workspace
.project
.classpath
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
